.bmi_section {
  background: rgb(34, 34, 34);
}

.bmicontainer {
  width: 80%;
  margin: 50px auto;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
}

.bmileft,
.bmiright {
  margin: 40px 0px;
  width: 50%;
}

.bmi_title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
table {
  width: 340px;
}

table,
tr,
td,
th {
  border: 1px solid rgb(66, 65, 65);
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 10px;
}

th {
  color: var(--primary-font);
}

td {
  color: var(--secondary-font);
}
.upperinput {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#input {
  padding: 20px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: white;
}

.options {
  color: black;
}

.lowerinput {
  margin-top: 20px;
}

#lower {
  width: 100%;
  padding: 20px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: white;
}

#calculate {
  border-radius: 42px;
  margin-top: 20px;
  background: rgb(230, 83, 60);
  width: 224px;
  height: 54px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .bmicontainer {
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bmileft,
  .bmiright {
    width: 100%;
  }

  table {
    width: 300px;

    margin: 10px auto;
  }
  #input,
  .options {
    width: 80%; /* Ensures the element takes the full width of its container */
    padding: 20px;
    border-radius: 18px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: white;
  }

  .upperinput {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
