.footer_section {
  background: rgb(34, 34, 34);
}
.footer_container {
  width: 80%;
  margin: auto;
  background: rgb(34, 34, 34);
}

.footer_card1 {
  width: 450px;
}

.footer_card1 > h2 {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  color: red;
  margin-bottom: 20px;
}
.footer_card1 > p {
  font-size: 18px;
  color: var(--secondary-font);
  font-weight: 400;
}

.footer_card2 {
  width: 300px;
}

.footer_card2 > h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-font);
  margin-bottom: 20px;
}

.footer_card2 > p {
  font-size: 24px;
  color: var(--secondary-font);
  margin: 10px;
}

.footer_card3 {
  width: 300px;
}
.footer_card3 > h3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-font);
  margin-bottom: 20px;
}

.footer_card3 > p {
  font-size: 24px;
  color: var(--secondary-font);
  margin: 10px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0px;
}
@media screen and (max-width: 576px) {
  .footer_container {
    flex-direction: column;
  }
  .footer_card1 {
    width: 300px;
    margin-bottom: 20px;
  }
}
